h1 {
    background-color: darksalmon;
    color: white;
    font-size: 44px;
    text-align: Center;
    font-weight: bold;
}

div {
    width: 400px;
    margin: 0 auto;
    background-color: beige;
    border: 5px double salmon;
}

h2 {
    color: darkkhaki;
    font-size: 36px;
    text-align: center;
}

ul {
    text-align: center;
}

a:hover {
    color: darksalmon;
}

a {
    font-size: 22px;
    padding: 10px;
    color: darkkhaki;
    font-weight: bold;
}